.image-editor-button {
  width: 46px;
  height: 46px;
  background: transparent;
  color: currentColor;
  fill: #88888b;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
}
.image-editor-button--active {
  background: #ffffff08;
  fill: currentColor;
}
.image-editor-button:hover,
.image-editor-button:focus {
  background: #ffffff08;
}
@media (max-width: 540px) {
  .image-editor-button {
    width: 32px;
    height: 32px;
  }
}
