/* fait */
.image-editor-slider {
  background: #1c1b2266;
  display: flex;
  height: 20px;
  width: 100%;
  max-width: 380px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  padding-left: 16px;
  padding-right: 16px;
}
/* ... */
.image-editor-slider__wrapper {
  display: flex;
  align-items: center;
  max-width: 400px;
  width: 100%;
}
/* fait */
.image-editor-slider__line {
  background: rgba(255, 255, 255, 0.502);
  height: 2px;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
}
/* fait */
.image-editor-slider__fill {
  background: #fff;
  align-self: stretch;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  position: absolute;
  height: 2px;
}
/* fait */
.image-editor-slider__dot {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* fait */
.image-editor-slider__value {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: #fff;
  font-size: 10px;
  font-weight: 500;
  top: -20px;
  vertical-align: bottom;
  transform: translate(-50%);
  transition-duration: 0.5s;
  transition-property: font-size, opacity;
}
/* fait */
.image-editor-slider__handler {
  width: 2px;
  height: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition-duration: 0.2s;
  transition-property: height;
  background-color: #fff;
}
.image-editor-slider__handler:hover,
.image-editor-slider__handler--focus {
  height: 10px;
}
.image-editor-slider__handler--hidden {
  height: 4px;
}
/* ... */
.image-editor-slider__inner-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #61dafb;
  transform: scale(1);
  transition-duration: 0.1s;
  transition-property: transform;
  box-shadow:
    #61dafb33 0 0 7px,
    #61dafb26 0 1px 3px 1px;
}
/* ... */
.image-editor-slider__inner-circle--focus {
  transform: scale(1.2);
}
